*{ box-sizing:border-box;}
body{
    margin:0;
    font-family: 'Open Sans',sans-serif;
}
.row::after{
    content:"";
    clear:both;
    display:block;
}
[class*="col-"]{
    float:left;
    padding:10px;
}
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.6%;}
.col-12{width:100%;}

.timeandfaq{
    background-color: #202c45;
}

.time{
    color:#ffffff;
    text-align: center;
}

.regi button{
    float:right;
    background-color: crimson;
    color:#fff;
    border:none;
    padding:10px 15px 10px 15px;
}
.menu{
    margin-top:16px;
}
.menu a{
    color:black;
    text-decoration: none;
    padding:10px 15px 10px 15px;
}
.menu a:hover{
    background-color: #f2184f;
    color:#fff;
}
.active{
    background-color: #f2184f;
    color:#fff;
}
.logoandmenu{
    background-color: rgb(218, 233, 238);
    width:100%;
    z-index:1001;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    }
  
  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    }
  
  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
    }
  
  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    }
.prodtxt{
    text-align: center;
}
.prodtxt button{
    background-color:rgb(2, 56, 5);
    color:#fff;
}
.sticky{
    position:fixed;
    top:0;
}
#myBtn{
    display:none;
    position:fixed;
    background-color: #f2184f;
    color:#fff;
    border:none;
    padding:15px;
    z-index:99;
    bottom:20px;
    right:30px;
    outline:none;
}
#wholepage{
    display:none;
    text-align:center;
}
#loader{
    width:150px;
    height: 150px;
    border:16px solid grey;
    border-radius:50%;
    position:absolute;
    left:45%;
    top:45%;
    border-top:16px solid red;
    width:120px;
    height:120px;
    -webkit-animation:spin 2s linear infinite;
}
@-webkit-keyframes spin{
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}
}

@keyframes spin{
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}
}
.animatewholepage{
    position:relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom{
    from{bottom:100px;opacity:0}
    to{bottom:0px;opacity:1}
}
@keyframes animatebottom{
    from{bottom:100px;opacity:0}
    to{bottom:0px;opacity:1}
}
